<h2> Conversation </h2>
<h3> Error: The ID you're looking for does not exist.</h3>
<p> This may be caused by the Jamais Vu update (released 21/12/21, added to the FAYDE 06/01/22) changed all the IDs, (like all of em, Kim went from #3 to #395, sob) so I had to create versioned URLs to put in the JV stuff without breaking the old links. Old URLs with "dialogue" in should still work and new ones say "dialojue"... But if you're still having issues, do let me know.

</p><p> Less likely explanation, by now, is you're using a URL dating from before I imported the Final Cut content on 26/04/2021. I'm not gonna fix this, but I'm not removing this note either cos it's nice to have a lil </p>
<p> You may also have just put a random ID into the URL and hoped for the best. </p>
<p> If you got this from clicking an actual link on this site, it's a bug and should be reported, with as much detail as you can, if possible. </p>
