<p> <ol><%  @backOptions.each do | result | %>
<li><%= result.showShort %></li>
<% end %> </ol> </p>

<p> <ol><%  @builtConvo.each do | result | %>
<li><%= result.showShort %></li>
<% end %> </ol> </p>

<p> <ol><%  @forwOptions.each do | result | %>
<li><%= result.showShort %></li>
<% end %> </ol> </p>