<p> <ol><%  @backOptions.each do | result | %>
<li> <%= link_to result.showShort, {:controller => 'conversation', :action => 'trace', :dialogueid => "#{result.id}-#{@idsList}" } %></li>
<% end %> </ol> </p>

<p> <ol><%  @builtConvo.each do | result | %>
<li><%= result.showShort %></li>
<% end %> </ol> </p>

<p> <ol><%  @forwOptions.each do | result | %>
<li><%= link_to result.showShort, {:controller => 'conversation', :action => 'trace', :dialogueid => "#{@idsList}-#{result.id}" } %></li>
<% end %> </ol> </p>