<h1> FAYDE Playback Experiment: On-Air</h1>

<ul>
	<li><a href="#purpose">Purpose<a></li>
		<li><a href="currentTasks"> Currently working on...</a></li>
		<li><a href="suggestions"> Suggestions/technical info </h3></li>

</ul>
<h3 id="purpose"> Purpose </h3>
  <p>Welcome to the FAYDE On-Air. This is a project to enable Disco Elysium Fans to locate remembered conversations, share them with other fans, and explore dialogue options they might not have been able to meet the criteria for. It's naturally full of spoilers, so explore at your own risk! </p>

  <p> This me re-making my original <a href="http://fayde.seadragonlair.co.uk"> FAYDE Playback Experiment</a> in a web-based format. This is useful so I can look stuff up while on my smartphone, perhaps in the middle of the road enabling my destiny to one day get hit by a car because I wanted to know if Kim ever says "mom" instead of "mum". The FAYDE Desktop hasn't received any updates in a while, since I think most people prefer the web version, but I'm happy to work on improving it if demand ever resurfaces, and it has many advantages for "intense" research if you're using a computer you're willing/able to install Ruby on. </p>
  <p> This is kinda a low-priority one man operation and I've been away from web-dev for a long time. I welcome feedback, but it's a work in progress and I am eschewing a lot of typical web-development conventions because they piss me off or I've totally forgotten they exist. This website should work fine with no Javascript and most websites now don't even try to achieve that, even if the Javascript makes it slow and juddery, invalidates basic browser optimization features, and gives a worse user experience than old-school server-side operations would. </p>

	<h4 "currentTasks"> Currently working on: </h4>
	<ol>
		<li> Accessability optimisations (some progress)</li>
		<li> Shorter URLS </li>
		<li> Languages? </li>
		<li> Conversation browser </li>
		<li> Version indication for lines that changed between updates </li>
		<li> <strike> Whole word searches (so far I've been doing these manually for friends by doing grep -wi on a full line dump) </strike> &#10004; </li>
		<li> Improvements to layouts, usability etc. [Significant progress &#10004;] </li>
	  <li> Technical Debts, optimisation and performance (boooooring) [SIGNIFICANT progress &#10004;] </li>

	  <li> <strike> pagination to allow BIG searches, and blank searches/actor full line dumps  </strike> &#10004;</li>
		<li> <strike>Fucking sneak attack Jamais Vu update, right when I went away for family christmas stuff, AND they changed the character numbers? Fuck me that's just CRUEL. Kim's a 3 not a 395. </strike> &#10004; </li>
	  <li> <strike>Searching for Variables not just dialogue</strike> &#10004; </li>
	  <li> <strike>Hub hiding/ other JS quality of life improvements for easy copy-pasting </strike> &#10004;</li>
	  <li> <strike>Jean, Judit, Kortanaer, Liz and Perception searches respect alter-egos.</strike> &#10004; </li>
	  <li> <strike> Some day soon, I'm gonna make the search page into the home page and then you'll almost never come here again &#10004;</strike></li>
	</ol>

<h3 id="lore"> Lore & History </h3>

  <p> The title FAYDE Playback Experiment is a play, of course, on FELD Playback Experiment (FAYDE part is hard to explain, it just stuck). The FELD playback Experiment, as explained by Trant in-game or a blog post or two on the ZA/UM devblogue, is how you view the narrative in game; all the text in dialogue and events. It has this really cool film-roll aesthetic that you'd think as an analogue photography nerd I'd try harder to mimic. Maybe one day... </p>

  <p> The "on Air" part is added to differentiate from the desktop tool I made as proof of concept in January of 2021. It's a reference to the On-Air computation (a radio paralel of 'online'), that Radio-computers use, where calculations are performed with a cloud computing like structure on the East Insulindian Front. </p>

	<p> This edition has been on-air since April of 2021. </p>

<h3> Credits </h3>
  <ul>
  <li> Preponderance of code and core functionality: I am Morgue (Morgan Dorian Trias), you may know me from elsewhere in the Disco Elysium Overthinking Community, usually going by Morgue 13_2, or Morgue XiiV or something else that means the same thing (if you're willing to argue about how roman numerals work for 5 minutes, anyway).
    I've done some art, I've yelled about trivia on Tumblr, and very occasionally I get the joy of people meeting me and saying "oh you wrote <i>*that*</i> fic..."
  </li>
  <li> The CSS layouts are predominately the work of talented artist and web-designer <a href="http://asterfialla.com">Pieartsy</a>.</li>
	<li> UX tweaks, database optimisation and some other code by <a href="https://github.com/Sphinx111">Sphinx111</a> </li>
  <li>This project would be impossible, less successful or never begun without the prompting, technical discussions, support and encouragement of many cool people choosing not to be named in conjunction with it.</li>

  </ul>

<h3> Caveats </h3>

<p> Not all dialogues viewable in this browser are possible to get in game, and I take no responsibility for any inaccuracies! </p>

<p> All game dialogue text is from the game <a href="https://discoelysium.com/">Disco Elysium</a> and is the work and intellectual property of ZA/UM and their team of stunning writers. It is presented here for the purposes of criticism, reference and analysis, and intended to be used only by people who have purchased the game and want an alternative way to explore lore, not to replace the joyous experience of playing the game, and features implemented are carefully selected to maintain that. (But if I could... well. How cool <i>would</i> it be to make a browser based port of Disco Elysium? I mean there was that GBA one... how hard WOULD they sue me?) </p>

<p> If you work at / represent ZA/UM, and consider this use of their intellectual property to be unacceptable, that's fine and I will respect that! Contact Boring Cop / Sorry Cop Morgue on the official disco(rd) for a boring apology and discuss removal / any alternative terms under which it would be acceptable. (I have however noted that this information is already available in various formats online, and a similar project, <a href=" https://disco-reader.gitlab.io/disco-reader/#/">Xyrilyn's Disco Reader</a>, has been acknowledged and welcomed in official ZA/UM posts such as the aniversary celebration, so I assume this is not contentious) Xyrilyn's project is better for certain types of investigation (predominately route-finding) and has much more sophisticated search engine (ie an actual search engine, not me stringing together some SQL queries and going "yah that'll do"), so I recommend you check it out, good to have both "tools" available. But keep using the FAYDE sometimes or I will get sad and lonely. Plus it works on mobile, easier to copy and paste paragraphs from and is faster if you don't need a graph. </p>

<h3 id="suggestions"> Suggestions/technical info </h3>

<p> Anyone else with comments/suggestions/improvements, feel free to contact me... somehow. I have been flattered to find out there are FAYDE users beyond my friends circle, so I guess <a href="https://morgue-xiiv.tumblr.com"> my Tumblr</a> ask box, noticing me in the the official Disco(rd) and DMing me, or tweeting at <a href="https://twitter.com/Morgue_XiiV">my twitter</a> are the best methods. I guess there's Github but I barely know how to Github. </p>

<p> Created with Ruby-on-Rails (a nice fast way to get a web-app started that only drives me crazy half the time) Hosted through <a href="http://nearlyfreespeech.net" > Nearly Free Speech </a> which is a very flexible, principled and reasonably priced webhost, so long as you know what you're doing or are willing to learn. It's affordable in a way almost no Rails-compatible host it. For reference I think at the moment it's (usually) costing less $5 a month to host this. Heroku would charge me 3x that for an always-up dyno with 200,000 rows in a database, while also preventing me from using SQLite, which is ideal for static datasets like this. Some services would offer to host my "app" for free but have extremely vague terms on when it would start costing money or how much and while being drastically untrustworthy. NFSN just charges me based on how much the site is actually being used in a transparent and linear way. NFSN don't make me include this endorsement; I just do it because I love them. </p>
