<h1> FAYDE Playback Experiment: On-Air </h1>

<p>	Welcome to the FAYDE. This is a project to enable Disco Elysium Fans to locate remembered conversations, share them with other fans, and explore dialogue options they might not have been able to meet the criteria for. It's naturally full of spoilers, so explore at your own risk (TFC spoilers too) </p>

<p> This is a very very new project, and I've been away from web-dev for a long time. For this reason, at present features are limited, and the implementation clunky and not 100% reliable. I'm re-making my original <a href="http://fayde.seadragonlair.co.uk"> FAYDE Playback Experiment </a> a desktop application with similar aims, which I recommend for doing intense research if you're using a computer you're willing/able to install Ruby on. </p>

<p> All game dialogue text is from the game <a href="https://discoelysium.com/">Disco Elysium</a> and is the work and intellectual property of Zaum and their team of stunning writers. It is presented here for the purposes of criticism and analysis and intended to be used only by people who have purchased the game and want an alternative way to explore lore. <p>

<p> Not all dialogues viewable in this browser are possible to get in game, and I take no responsibility for any inaccuracies. </p>

<p> If you work at / represent Zaum, and consider this use of their intellectual property to be unacceptable, that's fine and I will respect that. Contact Boring Cop / Sorry Cop Morgue on the official disco(rd) for a boring apology and discuss removal / any alternative terms under which it would be acceptable. </p>

<p> Anyone else with comments/suggestions/improvements, feel free to contact me... somehow. You probably already know me. I'm not exactly putting this thing on advertising billboards. </p>

<p> The title FAYDE Playback Experiment is a play, of course, on FELD Playback Experiment (the DE stands for Disco Elysium). The "on Air" part is added to differentiate from the desktop tool I made prior to this version (still the recommended version). It's a reference to the On-Air computation that Radiocomputers use, where calculations are performed in a cloud computing kind of way on the East Insulindian Front. </p>

<p> 
This project would be impossible or never begun without the prompting, technical discussions, support and encouragement of many cool people. Unless this is a copyright deposition, in which case I acted alone and in secret at all times. Thanks especially to Pieartsy for collabing the initial planning stages. </p>

<p> Hosted through <a href="http://nearlyfreespeech.net" > Nearly Free Speech </a> which is a very flexible, principled and reasonably priced webhost, so long as you know what you're doing or are willing to learn. I think at the moment it's costing about $3 a month to host this, which is 1/5th what Heroku would charge me for an always-up dyno with 200,000 rows in a database, and I can keep using SQLite, which saves me so much work for a static data set. </p>
<!-- 
<p> <a href="assets/downloads/dealogue-fayde-21-04-21.zip"> Download Fayde desktop </a></p> -->