<h1> FAYDE Playback Experiment: On-Air </h1>

<p>	Welcome to the FAYDE. This is a project to enable Disco Elysium Fans to locate remembered conversations, share them with other fans, and explore dialogue options they might not have been able to meet the criteria for. </p>

<p> This is a very very new project, and at present features are EXTREMELY limited. I'm re-making my original <a href="http://fayde.seadragonlair.co.uk"> FAYDE Playback Experiment </a> a desktop application I made which is available to download at the preceeding link (on a different site cos I literally don't know how to link to files in Ruby on Rails) </p>

<p> All game dialogue text is from the game <a href="https://discoelysium.com/">Disco Elysium</a> and is the work and intellectual property of Zaum and their team of stunning writers. It is presented here for the purposes of criticism and analysis and intended to be used only by people who have purchased the game and want an alternative way to explore lore. <p>

	<p> If you work at / represent Zaum, and consider this use of their intellectual property to be unacceptable, that's fine and I will respect that. Contact Boring Cop / Sorry Cop Morgue on the official disco(rd) for a boring apology and discuss removal / any alternative terms under which it would be acceptable. </p>

<p> Anyone else with comments suggestions improvements, feel free to contact me... somehow. You probably already know me. I'm not exactly putting this thing on advertising billboards. </p>

	<p> The title FAYDE Playback Experiment is a play, of course, on FELD Playback Experiment (the DE stands for Disco Elysium). The "on Air" part is added to differentiate from the desktop tool I made prior to this version (still the recommended version). It's a reference to the On-Air computation that Radiocomputers use, where calculations are performed in a cloud computing kind of way on the East Insulindian Front. </p>

<p> 
	This project would be impossible or never begun without the prompting, technical assistance, support and encouragement of various people. And before I actually make this thing usable I will ask them if they want to be named or not.
</p>

<p> <a href="public/downloads/dealogue-fayde-21-04-21.zip"> Download Fayde desktop </a></p>