@font-face {
	font-family: 'Sina Nova';
	src: url(font-path('sinanova.otf'));
}

html {
	font-family: 'Sina Nova';
	font-weight: normal;
	font-style: normal;
	font-size: 14pt;
}

body {
	margin: 0;
	background-color: #b1a29e;
	color: black;
	text-rendering: optimizeLegibility;
	display: flex;
	flex-direction: column;
}

h2,
.actor {
  text-transform: uppercase;
  font-weight: bold;
}

.hub .actor {
  font-weight: normal;
}

#wideline {
	line-height: 1.5;
}

#normalline {
	line-height: 1;
}

.main {
	align-items: center;
	border-width: 0px 15px;
	border-color: grey;
	border-style: dashed;
	position: relative;
	height: 100%;
	background-color: whitesmoke;
	color: black;
	max-width: 900px;
}

@media (min-width: 840px) {
	.main {
		width: 80%;
		padding: 2em;
		align-self: center;
 }
}

@media (max-width: 840px) {
	.main {
		width: 100vw;
		padding: .5em;
		word-wrap: break-word;
	}
}

.menu {
	display: flex;
	border-width: 0 0 5px 0;
	border-style: solid;
	border-color: grey;
	padding: 20px 20px;
	justify-content:space-evenly;
	width: 100%;
	background-color:whitesmoke;
	height : 2rem;

}


.menu form {
	display: inline-block;
}

li {
	/* increase line height between list items*/
	margin-bottom: 1.25em;
}

td li, td ul{
	margin-bottom: auto;
	margin-top: auto;
	// Override the above when it's a list inside a table, ie hte details list in the tracer
}

.details, #details {
	color: #791e08;
 }

div.hub {
	 // margin-left: 2em;
	 opacity: .8;
	 font-weight:100;
  }

ul.trace {
	list-style-type: none;
	margin-left: 0em;
	padding-left: 0em;
}

.btn,
input[type=submit] {
	background-color: #a7361a;
	display: inline-flex;
	height: 1.8rem;
	padding: .1rem .4rem;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	border-radius: 5px;
	color: white;
  }

.btn a {
	color: white;
	text-decoration: none;
}

.btn a:visited {
	color: white;
}

.btn:focus,
.btn:hover,
.btn:active {
  background: #181411;
  font-weight: bolder;
  text-decoration: underline;
  border-width: 1.5px;
  border-color: #a7361a;
  border-style: solid;
}

a {
	color: #af2300;
	font-weight: bold;
}

a:focus,
a:hover,
a:active {
	font-weight: bold;
	color: #ff3810;
}

a:visited {
	color: rgb(92, 0, 0);
}

td.hidden, ul.hidden {
	display: none;
}

table {
	border-collapse: collapse;
}

tr.hidden {
	border-bottom: 1px solid black;
	height: 2px;
}

#hidehubs {
	position: fixed;
	top: 2em;
	left: 1em;
}

.spacer {
	visibility: collapse;
}

.lineage
{
	// margin-left: -1em;
	// margin-right: 1em;
}

td {
vertical-align: top;
padding-bottom: 1.75em;
}

/* ------------------------------- DARK MODE -------------------------------- */

.dark .main {
	background-color: #181411;
	color: rgb(233, 227, 227);
}

.dark .menu {
   background-color: #2b2b2b;
}


body.dark {
	background-color: #2b2b2b;
}

.dark .details {
   color: #ecb5a7;
}

.dark a {
	color: #df4119;
}

.dark .btn a,
.dark .btn a:visited {
	color: white;
}

.dark a:visited {
   color: rgb(179, 109, 97);
}

.dark a:focus,
.dark a:hover,
.dark a:active{
   color: rgb(255, 108, 71);
}

.dark form {
	color: rgb(233, 227, 227);
}
