.main { 
	background-color: #181411;
	color: rgb(233, 227, 227);
}

.menu {
   background-color: #2b2b2b;
}


body {
	background-color: #2b2b2b;
	text-rendering: optimizeLegibility;
}

#details {
   color: #ecb5a7;
}

a {
	color: #df4119;
}

a:visited {
   color: rgb(179, 109, 97);
}

a:focus,
a:hover,
a:active {
   color: rgb(255, 108, 71);
}

form {
	color: rgb(233, 227, 227);
}