 .main { 
 	background-color: #1a1a00;
	 color: whitesmoke;
	 border-color: beige;
 }
 
 .menu
 {
	background-color: darkslategray;
	color: gainsboro;
	border-color: beige;
 }


 a {
 	color:red;
 }
 a:visited {
 	color:darkred;
 }
 .menu a {
 	color:white;
 }

 .searchresults a {
 	color:white;
 }
 .searchresults a:visited {
 	color:gainsboro;
 }

 
 body {
 	background-color: black;
 	color: gainsboro;
 }

 .menu form {
 }

 #details {
 	color: #f9e2d2;
 }

 #hubs {
 	color: #f9e2d2;
 }
 
 