<!DOCTYPE html>
<html>
  <head>
    <title>FAYDE On-Air Playback Experiment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= link_to "Search", {:controller => 'search', :action => 'result' } %>
    <%= yield %>
  </body>
</html>
